@import url(https://css.wmeluna.com/darkreader-filter.css);
.watexparenimage img {filter:unset!important}
/*images not darkmoded that are safe to invert*/
img[alt="WebAssign Plot"]{filter: var(--filter)!important}
img[alt="webMathematica generated answer key"]{filter: var(--filter)!important}

/* theme */
:root {
    /*--color: rgb(163,47,194);/**/
    --color: purple;
    --filt: invert(1) hue-rotate(180deg);
}
.css-w71g3k {
    background: var(--color);
    filter: var(--filt) !important;
}
.indent select {
  filter: var(--filt) !important;
  color: white !important;
}
.css-6nwyf1,.css-6nwyf1:hover, .css-6nwyf1:focus {
    border-color: var(--color);
    background-color: var(--color);
    filter: var(--filt) !important;
}
.css-1vr8bhw >path {
    fill: var(--color) !important;
    filter: var(--filt) !important;
}
.css-vp4w6k:hover, .css-vp4w6k:link, .css-vp4w6k:active, .css-vp4w6k:visited, .css-rzg8pl:hover, .css-rzg8pl:focus, .css-rzg8pl{
  color: var(--color);
  filter: var(--filt) !important;
}
font[color="#dd0000"],
span[style="color: #dd0000"]
{
    color: var(--color)!important;
}


/* clean up page*/
.extraContent,.js-question-header,#studentFooter {
    display: none!important
}

.qButtons.container.invisible {
    display: block!important;
    visibility: visible!important
}

#assignmentWrapper,.waQBox>.qUtility {
    padding: 0!important
}

.waQBox {
    margin: 0 0 .5em!important
}

.waQBox>.qUtility>.crop,.waQBox>.qUtility>.standard {
    border-top: 1px solid #ccc!important
}

.waQBox>.qUtility>.qButtons {
    width: 100%!important
}

.css-ksgbli,[value="Save Progress"] {
    display: none!important
}

.css-18d3kke,[data-test=dueDate] {
    display: block!important;
    position: fixed!important;
    z-index: 999!important;
    bottom: 10px!important
}

.css-18d3kke {
    right: 10px!important;
    margin: 0!important
}

[data-test=dueDate] {
    right: 173px!important;
    background-color: #fff!important;
    width: 15%!important;
    min-height: unset!important;
    height: 133px!important
}

[data-test=dueDate]::before {
    content: "Due Date:"!important;
    width: 100%!important;
    font-weight: 600!important;
    font-size: 20px!important
}

[aria-label="Due Date"],[data-test=requestButton] {
    display: none!important
}

.css-1d5sdls {
    padding: 15px 15px 30px!important
}

#assignmentWrapper {
    width: 0!important;
    height: 0!important;
    margin: 0!important;
    overflow: hidden!important
}
