@import url("https://crearts-community.github.io/CreArts-Discord/src/source.css");

.theme-dark {

--background-primary: black;
--background-secondary: rgb(20, 20, 20);
--background-secondary-alt: rgb(28, 28, 28);
--background-tertiary: rgb(10, 10, 10);

--interactive-normal: #b9bbbe;
--interactive-hover: #dcddde;
--interactive-active: #fff;
--interactive-muted: #4f545c;

}
/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Layout                   ║ Members                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝
*/

/* Background (Members & Channel) */
.container-NkLXgf,
.container-2o3qEW,
.membersWrap-3NUR2t {
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
}

/* Spacing */
.container-2Oqvgx, .container-2o3qEW, .membersWrap-3NUR2t {
    margin: 0px 10px 0px 10px;
    width: var(--members-width);
}

/* No Background */
.container-2Oqvgx,
.members-3WRCEx {
    background: transparent !important;
}

.members-3WRCEx,
.members-3WRCEx>div {
    background-color: transparent;
}
