/*MAIN THEMES*/
@import url("https://womginx.wmeluna.repl.co/main/https://raw.githack.com/CorellanStoma/CreArts-Discord/dev/src/source.css");/*TEMP UNTIL STABLE V3 RELEASE*/
@import url("https://raw.githack.com/CorellanStoma/CreArts-Discord/dev/src/source.css");
@import url("https://luckfire.github.io/amoled-cord/src/support/compiled.css");

/*THEME ADDONS*/
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css");
@import url("https://crearts-community.github.io/Settings-Icons/clients/betterdiscord.css");
@import url("https://css.wmeluna.com/BetterSettings.css");
@import url("https://css.wmeluna.com/monaco.css");
@import url("https://css.wmeluna.com/disc-annoy.css");
@import url("https://nyri4.github.io/Discolored/main.css");
@import url("https://crearts-community.github.io/Context-Icons/theme.css");
@import url("https://discord-theme-addons.github.io/modern-channel-indicators/src/support/ModernChannelIndicators.theme.css");
@import url("https://discord-theme-addons.github.io/refined-user-connections/src/support/RefinedUserConections.theme.css");
@import url("https://discordstyles.github.io/RadialStatus/RadialStatus.theme.css");
@import url("https://crearts-community.github.io/Friends-Grid/friends-grid.theme.css");
@import url("https://mr-miner1.github.io/Better-Badges/BetterBadges(BD).theme.css");
@import url("https://raw.githack.com/Davr1/Discord-CSS-snippets/main/snippets/vertical_text_styling_menu.css");
@import url("https://raw.githack.com/Davr1/Discord-CSS-snippets/main/snippets/message_component_scaling.css");
@import url("https://smarty6788.github.io/Dash2Space/src/dash2space.theme.css");
@import url("https://therealgwjosh.github.io/Snippets/CSS/Chat/members-list.css");

/*custom font section*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Poppins&display=swap');
:root {
  --font-primary: Quicksand;
  --font-display: Poppins;
}
/**/
:root {
    --accentcolor: 163,47,194;
    --accentcolor2: 225,115,180;
    --linkcolor: 190,60,220;
    --settingsmodalbackground: transparent;
    --settingsmodalwidth: 1100px;
    --settingsmodalheight: 80vh;
    --user-banner: url("https://css.wmeluna.com/static/img/xrhyranchus11.png");
    --rs-phone-visible: none;
    --indicator-selected: 163,47,194;
}


/*TEMP UNTIL STABLE V3 RELEASE*/
.platform-linux .app-3xd6d0, .platform-web .app-3xd6d0 {
    margin-top: 0 !important;
}

