/* lightcord is discontinued, however it has a bot client that i use, certain things in the bot client are not functional 
so this removes this so you cannot see the buggy things to improve the bot client expeirence
BD removed normalized classes however lightcord's BD still has it due to being an older version of BD
i take advantage of this by making everything in here affect only those*/


.da-appMount .tutorialContainer-30WoTp {
    display: none;
}

/* redesigned login as i only need the tokenlogin bc im using it only for a bot client */
.da-appMount .authBox-hW6HRx .verticalSeparator-3huAjp {
    display: none;
}
.da-appMount .authBox-hW6HRx .qrLogin-1AOZMt {
    display: none;
}
.da-appMount .authBox-hW6HRx .flex-1xMQg5 > div:nth-child(1) {
    display: none;
}
.da-appMount .authBox-hW6HRx {
    margin: auto;
    width: 80%;
}

    
/* modified version of https://ptb.discord.com/channels/86004744966914048/836694789898109009/836746120087732275 */
.da-appMount .membersWrap-2h-GB4 {
    position: absolute;
    right: 0;
    top: 0;
    min-width: unset;
    max-height: 100%;
    z-index: 100
}

.da-appMount .content-yTz4x3 {
    overflow: visible
}

.da-appMount .membersWrap-2h-GB4:hover .members-1998pB {
    width: 240px;
    transform: none;
    opacity: 1
}

.da-appMount .members-1998pB {
    width: 0;
    opacity: 0;
    transform: translateX(100%);
    transition: 250ms ease transform,250ms ease opacity
}

.da-appMount .iconWrapper-2OrFZ1[aria-label="Member List"i] {
    order: 1;
    visibility: hidden;
    pointer-events: none
}

.da-appMount .membersWrap-2h-GB4::after {
    content: '';
    width: 24px;
    height: 48px;
    top: -48px;
    position: absolute;
    cursor: pointer;
    right: 0;
    background: var(--interactive-normal);
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0' y='0' class='icon-22AiRD da-icon' aria-hidden='false' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' clip-rule='evenodd' d='M14 8.00598C14 10.211 12.206 12.006 10 12.006C7.795 12.006 6 10.211 6 8.00598C6 5.80098 7.794 4.00598 10 4.00598C12.206 4.00598 14 5.80098 14 8.00598ZM2 19.006C2 15.473 5.29 13.006 10 13.006C14.711 13.006 18 15.473 18 19.006V20.006H2V19.006Z'%3E%3C/path%3E%3Cpath fill='currentColor' fill-rule='evenodd' clip-rule='evenodd' d='M14 8.00598C14 10.211 12.206 12.006 10 12.006C7.795 12.006 6 10.211 6 8.00598C6 5.80098 7.794 4.00598 10 4.00598C12.206 4.00598 14 5.80098 14 8.00598ZM2 19.006C2 15.473 5.29 13.006 10 13.006C14.711 13.006 18 15.473 18 19.006V20.006H2V19.006Z'%3E%3C/path%3E%3Cpath fill='currentColor' d='M20.0001 20.006H22.0001V19.006C22.0001 16.4433 20.2697 14.4415 17.5213 13.5352C19.0621 14.9127 20.0001 16.8059 20.0001 19.006V20.006Z'%3E%3C/path%3E%3Cpath fill='currentColor' d='M14.8834 11.9077C16.6657 11.5044 18.0001 9.9077 18.0001 8.00598C18.0001 5.96916 16.4693 4.28218 14.4971 4.0367C15.4322 5.09511 16.0001 6.48524 16.0001 8.00598C16.0001 9.44888 15.4889 10.7742 14.6378 11.8102C14.7203 11.8418 14.8022 11.8743 14.8834 11.9077Z'%3E%3C/path%3E%3C/svg%3E") center/24px no-repeat;
    margin: 0 16px
}

.da-appMount .membersWrap-2h-GB4:hover::after {
    background: var(--interactive-hover)
}

.da-appMount .membersWrap-2h-GB4:active::after {
    background: var(--interactive-active)
}


