@import "https://luckfire.github.io/amoled-cord/src/support/compiled.css";
@import "https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css";
@import "https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css";
@import url(https://css.wmeluna.com/disc-annoy.css);
@import url(https://css.wmeluna.com/disc-badges.css);
@import url(https://xhylo.github.io/BetterSettings/BetterSettings.css);
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css");
@import url("https://css.wmeluna.com/disc-web-warning.css");
@import url("https://css.wmeluna.com/monaco.css");
@import url("https://nyri4.github.io/Discolored/main.css");
    
    
:root {
    --accentcolor: 163,47,194;
    --accentcolor2: 225,115,180;
    --linkcolor: 190,60,220;
    --settingsmodalbackground: transparent;
    --settingsmodalwidth: 960px;
    --settingsmodalheight: 80vh;
}

/*
.container-3baos1 {
right:0;
top:0;
position:absolute;
z-index:101;
width:220px;
}

.container-1r6BKw.themed-ANHk51 {
padding-right:238px;
z-index:0;
}


html.theme-dark #app-mount::after {
content:"WmeLuna";
background:var(--background-tertiary);
position:fixed;
z-index:5;
right:0;
bottom:0;
display:flex;
opacity:0;
align-items:center;
line-height:normal;
padding:15px;
margin-right:10px;
margin-bottom:10px;
border-left:2px solid #540488;
border-radius:2px;
color:rgba(255,255,255,1);
animation-name:anim;
animation-duration:30s;
animation-iteration-count:1;
animation-timing-function:ease-in-out;
}

@keyframes anim {
0% {
display:flex;
opacity:1;
}

99% {
opacity:1;
}

100% {
display:none;
opacity:0;
}
}
*/
