@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css");
@import url("https://crearts-community.github.io/Settings-Icons/clients/betterdiscord.css");
@import url("https://css.wmeluna.com/BetterSettings.css");
@import url("https://css.wmeluna.com/monaco.css");
@import url("https://css.wmeluna.com/disc-annoy.css");
@import url("https://nyri4.github.io/Discolored/main.css");
@import url("https://crearts-community.github.io/Context-Icons/theme.css");
@import url("https://discord-theme-addons.github.io/modern-channel-indicators/src/support/ModernChannelIndicators.theme.css");
@import url("https://discord-theme-addons.github.io/refined-user-connections/src/support/RefinedUserConections.theme.css");
@import url("https://discord-addons.github.io/discord-addons/download-themes-here/AmoledDarkThemeOptimized/AmoledDarkThemeOptimized.theme.css");
@import url("https://discord-addons.github.io/discord-addons/download-themes-here/TypingAtTopOfChatBox/TypingAtTopOfChatBox.theme.css");
@import url("https://discordstyles.github.io/RadialStatus/RadialStatus.theme.css");
@import url("https://discord-addons.github.io/discord-addons/download-themes-here/TextareaMaxHeightModifier/TextareaMaxHeightModifier.theme.css");
@import url("https://crearts-community.github.io/Friends-Grid/friends-grid.theme.css");


:root {
    --accentcolor: 163,47,194;
    --accentcolor2: 225,115,180;
    --linkcolor: 190,60,220;
    --settingsmodalbackground: transparent;
    --settingsmodalwidth: 1100px;
    --settingsmodalheight: 80vh;
    --user-banner: url("https://css.wmeluna.com/static/img/xrhyranchus11.png");
    --rs-phone-visible: none;
}


/*@import url("https://css.wmeluna.com/disc-web-warning.css");/**/
