@import url("https://hoyupu.github.io/ColouredChannels/main.css");
.childWrapper-1j_1ub {
    background: url('http://css.wmeluna.com/static/img/Oqa6495.png');
    background-size: 48px 48px;
    color: var(--interactive-active);
}
.banner-1YaD3N {
  background: url('http://css.wmeluna.com/static/img/D2fsL3a.png');
}
[class^=numberBadge] { background-image: linear-gradient(to left, rgb(51,255,0), rgb(255,230,0), rgb(255,0,0), rgb(234,0,255), rgb(0,140,255), rgb(51,255,0)); background-size: 500% 100%; color: var(--background-tertiary); animation: animatedPing 1.3s infinite ease-in-out, gradient-border 5s linear infinite }@keyframes gradient-border { from { background-position: 0 0 } to { background-position: 130% 0 } }@keyframes animatedPing { 0% { transform: rotate(-12deg) } 50% { transform: rotate(12deg) scale(1.2) } 100% { transform: rotate(-10deg) } }
