@import url("https://hoyupu.github.io/ColouredChannels/main.css");
.childWrapper-1j_1ub {

    background: url('https://womginx.wmeluna.repl.co/main/https://i.imgur.com/Oqa6495.png');
    background-size: 48px 48px;
    color: var(--interactive-active);
}
