@import url(https://css.wmeluna.com/darkreader-filter.css);


:root {
    
    --color: purple;
    --filt: invert(1) hue-rotate(180deg);
}

.cui .cisco-minisidebar .sidebar, .content tbody {
    filter: var(--filt) !important
}
#side-nav{
  filter: invert(1) hue-rotate(-90deg) !important

}
#side-nav .sidebar__drawer, #side-nav .sidebar__items:not(.chunks-wrapper){
  filter: var(--filt) !important
}
.sidebar .navlink .navlink_labelcontainer,
.sidebar .navlink .navlink_chevronbutton,
.sidebar .navlink+ul.chunks-wrapper .block-chunk .navlink_namecontainer,
.sidebar ul.main-sidebar__nav .sidebar__drawer a.navlink.modulelink+ul.sidebar__items li.sidebar__item.block-chunk {
  border-radius: 0 !important;
}

.sidebar .navlink.chunklink.chunklink-active {
  filter: hue-rotate(45deg) !important;
}
body .sidebar ul.main-sidebar__nav>.sidebar__drawer:not(:last-child) {
    margin-bottom: 0 !important
}
.sidebar .navlink.modulelink+ul.sidebar__items>.sidebar__drawer {
    margin: unset !important
}
.cui .sidebar.sidebar--indigo a {
  color: #fff !important;
}
.cui .sidebar li.sidebar__item {
    background-color: var(--color)
}
.cui a:focus, .cui a:hover,.cui a, .cui .link:focus, .cui .link:hover {
    color: var(--color) !important;
    filter: var(--filt)
}
.cui .main-content-wrapper{
    max-width: unset !important;
}
#questions .question.hidden {
    display: block !important;
    width: unset !important;
    height: unset !important;
}
/*Netacad debloat section*/
#onetrust-consent-sdk/*cookie dialouge*/,
#page-footer/*footer*/{
    display:none !important;
}
