@import url(https://css.wmeluna.com/darkreader-filter.css);


:root {
    
    --color: purple;
    --filt: invert(1) hue-rotate(180deg);
}

.cui .cisco-minisidebar .sidebar, .content tbody {
    filter: var(--filt) !important
}
#side-nav{
  filter: invert(1) hue-rotate(-90deg) !important

}
#side-nav .sidebar__drawer, #side-nav .sidebar__items:not(.chunks-wrapper){
  filter: var(--filt) !important
}
.cui .sidebar.sidebar--indigo a {
  color: #fff !important;
}
.cui .sidebar li.sidebar__item {
    background-color: var(--color)
}
.cui a:focus, .cui a:hover,.cui a, .cui .link:focus, .cui .link:hover {
    color: var(--color) !important;
    filter: var(--filt)
}
#questions .question.hidden {
    display: block !important;
    width: unset !important;
    height: unset !important;
}
/*Netacad debloat section*/
#onetrust-consent-sdk/*cookie dialouge*/,
#page-footer/*footer*/{
    display:none !important;
}
