#control {
display: block;
position: fixed;
bottom: 10px;
right: 10px;
background: #2f3136;
padding: 10px;
border-radius:5px;
z-index: 5;
}

#control h1{
margin-top: 0;
}

#control .custom_section, #control #control-jog-feedrate,#control #control-jog-extrusion,#control #control-jog-general{
  display: none;
}
#control .jog-panel {
  margin-right: 5px;
}
