#term {
display: block;
position: fixed;
right: 215px;
bottom: 10px;
width: 250px;
z-index: 6;
background: #2f3136;
padding: 10px;
border-radius:5px;
}
#term .terminal {
  margin-bottom: 0;
}
#term #terminal-sendpanel::before {
  content: "Terminal";
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  font-weight: 400;

}

#term #terminal-output,
#term small,
#term .row-fluid{
  display: none;
}
